@use '../nav/nav'
@use '../variables' as *

.dropdown-item_lang
  padding-left: 0
  padding-right: 0

.flag
  width: 25px
  height: 20px
  margin: 0 5px

.lang-menu-button
  @include nav.nav-button
  margin: 0
  padding: 5px 0
  display: block
  width: 100%
  text-align: start

  &__active
    background-color: $ship-border
    color: white

  &:active
    outline: 4px solid $main-color !important
  