@use '../variables' as *

@mixin nav-button
  color: $ship-border
  border: $button-border solid transparent

  &:hover, &:focus
    color: $ship-border
    background-color: #e3f2fd
    border: $button-border solid $main-color
    border-radius: 2px

  &:focus
    border: $button-border solid $ship-border

.nav-btn
  @include nav-button
